.blinking-text {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5; /* Половина времени с половинной прозрачностью */
    color: #5e5a80; /* Цвет текста в перигее */
  }
}

.hidden-text {
  opacity: 0.5; /* Начальная половинная прозрачность при скрытии */
  color: #2213ab; /* Начальный цвет текста при скрытии */
}

.letters-container {
  display: flex;
  justify-content: space-around;
}


.blinking-text,
.hidden-text {
  font-size: 0.5rem; /* Увеличиваем размер шрифта на 20% */
  letter-spacing: 0.0033rem; /* Уменьшаем расстояние между буквами на полтора раза */
  font-weight: 600; /* Увеличиваем толщину шрифта на 20% (600 - полужирный) */
}