
.konva-container {
  border: 1px solid #ddd;
}

.tool-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.save-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draw-area {
  flex: 1;
  margin-top: auto; /* Положит .draw-area внизу контейнера */
}

.App {
  text-align: center;
}

.save-buttons button {
  font-size: 14px;
  margin: 5px 0;
}
